.ps-page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ps-slide-in-leave-active,
.ps-slide-in-enter-active {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.35s;
}

.ps-slide-in-enter-from {
  transform: translateX(100%);
}

.ps-slide-out-leave-active {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.35s;
}

.ps-slide-out-leave-to {
  transform: translateX(100%);
}

.ps-slide-in-enter-active,
.ps-slide-out-leave-active {
  z-index: 10;
}
